GEMINI_API_KEY=""
GROQ_API_KEY=""

LANGFUSE_SECRET_KEY=""
LANGFUSE_PUBLIC_KEY=""
LANGFUSE_BASE_URL="https://us.cloud.langfuse.com"
LANGFUSE_TRACING_ENVIRONMENT=development
LANGFUSE_RELEASE=0.1.0

OTEL_SERVICE_NAME=clinical-prescription-verification
